
.DS_Store
nebulosity4/DerivedData/
nebulosity4/Build
???_Libraries/wxWidgets*/src
???_Libraries/wxWidgets*/samples
???_Libraries/wxWidgets*/demos
???_Libraries/wxWidgets*/docs
???_Libraries/wxWidgets*/3rdparty
???_Libraries/wxWidgets*/build
???_Libraries/wxWidgets*/tests
Mac_Libraries/wxWidgets*/Cocoa/*.o
Mac_Libraries/wxWidgets*/Cocoa/.deps
Mac_Libraries/wxWidgets*/Cocoa/demos
Mac_Libraries/wxWidgets*/Cocoa/samples
Mac_Libraries/wxWidgets*/Cocoa/src
Mac_Libraries/HID64/DerivedData/
???_Libraries/EDSDK*/Sample
**/demo
???_Libraries/**/**/Development
???_Libraries/**/**/Intermediates
???_Libraries/**/**/DerivedData
???_Libraries/**/**/Debug
???_Libraries/**/*.o

nebulosity4/OpenNebulosity4_64.xcodeproj/project.xcworkspace/xcuserdata/stark.xcuserdatad/UserInterfaceState.xcuserstate
nebulosity4/OpenNebulosity4_64.xcodeproj/project.pbxproj
